.header
    .container 
        .header-top 
            nav.header__menu.nav
                .nav__item 
                    a(href="#") Главная
                .nav__item 
                    a(href="#") О компании
                .nav__item 
                    a(href="#") Каталог
                .nav__item 
                    a(href="#") Покупателям
                .nav__item 
                    a(href="#") Доставка и оплата
                .nav__item 
                    a(href="#") Акции
                .nav__item 
                    a(href="#") Блог
                .nav__item 
                    a(href="#") Контакты
            .header__social.social
                a(href="#").social__item
                    <svg class="vk-icon" width="16" height="10">
                        <use xlink:href="#vk"></use>
                    </svg>
                a(href="#").social__item
                    <svg class="instagram-icon" width="15" height="16">
                        <use xlink:href="#instagram"></use>
                    </svg>
                a(href="#").social__item
                    <svg class="viber-icon" width="16" height="16">
                        <use xlink:href="#viber"></use>
                    </svg>
        .header-center 
            a(href="#").header__logo
                <svg class="logo-icon" width="270" height="56">
                    <use xlink:href="#logo"></use>
                </svg>
            .header__search
                form.header__search-form.form-search(action="#")
                    span.form-search__title Поиск по сайту
                    .form-search__field 
                        input(type="text" class="form-search__input" placeholder="Что вы ищите?")
                        .form-search__icon
                            <svg class="search-icon" width="20" height="20">
                                <use xlink:href="#search"></use>
                            </svg>
                        button.form-search__btn Найти
            .header-contact
                .header-contact__item.phone
                    .header-contact__icon
                        <svg class="phone-icon" width="20" height="20">
                            <use xlink:href="#phone"></use>
                        </svg>
                    a(href="tel:8800554897").phone__link 8 (800) 55 48 97
                .header-contact__item.mail
                    .header-contact__icon
                        <svg class="mail-icon" width="20" height="16">
                            <use xlink:href="#mail"></use>
                        </svg>
                    a(href="mailto:info@neyro-t.ru").mail__link info@neyro-t.ru
                .header-contact__item.time
                    span.time__text Время работы: 07:00 - 19:00 по МСК
            .header-wrapper
                span.header__btn.search-btn
                    <svg class="search-icon" width="30" height="30">
                        <use xlink:href="#search"></use>
                    </svg>
                a(href="#").header__btn
                    <svg class="lk-icon" width="31" height="40">
                        <use xlink:href="#lk"></use>
                    </svg>
                a(href="#").header__btn
                    <svg class="basket-icon" width="40" height="40">
                        <use xlink:href="#basket"></use>
                    </svg>
        .header-bottom.catalog
            span.catalog__title Каталог продукции
            .catalog-wrapper
                .catalog__item
                    a(href="#") Мозжечковая стимуляция
                .catalog__item
                    a(href="#") Межполушарные доски
                .catalog__item
                    a(href="#") Нейрокосички
                .catalog__item
                    a(href="#") Балансиры
                .catalog__item
                    a(href="#") Нейровосьмерки
                .catalog__item
                    a(href="#") Разное